body {
  background-color: black;

  margin: 10px 15% 0px;
  padding: 10px;
}

input {
  padding: 4px;
  margin-right: 8px;
}

ul {
  list-style: none;
  box-sizing: border-box;
  
  border-width: 5px;
  border-color: aliceblue;
  padding-left: 0px;
}

li {
  box-sizing: border-box;
  border-style: outset;
  border-width: 5px;
  padding: 1px 0px 15px;
  margin: 12px 50px;
}

.App {
  text-align: center;
  background-color: rgba(98, 38, 129, 0.605);
  box-sizing: border-box;
  border-style: double;
  border-width: 5px;
  border-color: silver;
  padding: 10px;
}

#title {
  background-color: darkorchid;
  color: gold;
  margin: 20px 25% 20px;
  box-sizing: border-box;
  border-style: ridge;
  border-radius: 5px;
  border-color: gold;
}


.listItem {
  color: aliceblue;
  background-color: slategrey;
}

.listItemComp {
  color: aliceblue;
  background-color: greenyellow;
}

.delBtn {
  background-color: indianred;
}

.comBtn {
  background-color: green;
}

#button {
  font-size: 15px;
  margin-left: 8px;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
}