body {
  background-color: black;
}

.App {
  text-align: center;
  background-color: black;
}

#title {
  background-color: darkorchid;
  color: gold;
}

input {
  padding: 4px;
  margin-right: 8px;
}

ul {
  list-style: none;
}

li {
  margin: 12px 0;
}

.listItem {
  color: aliceblue;
  background-color: slategrey;
}

.listItemComp {
  color: aliceblue;
  background-color: greenyellow;
}

.delBtn {
  font-size: 15px;
  margin-left: 8px;
  background-color: indianred;

  border-radius: 4px;

  padding-top: 4px;
  padding-bottom: 4px;
}

.comBtn {
  font-size: 15px;
  margin-left: 8px;
  background-color: green;

  border-radius: 4px;

  padding-top: 4px;
  padding-bottom: 4px;
}
