.App {
  text-align: center;
}

input {
  padding: 4px;
  margin-right: 8px;
}

ul {
  list-style: none;
}

li {
  margin: 12px 0;
}

.delBtn {
  font-size: 15px;
  margin-left: 8px;
  background-color: indianred;

  border-radius: 4px;

  padding-top: 4px;
  padding-bottom: 4px;
}

.comBtn {
  font-size: 15px;
  margin-left: 8px;
  background-color: green;

  border-radius: 4px;

  padding-top: 4px;
  padding-bottom: 4px;
}
